*::selection {
    color: #fff;
    background-color: #ff0066;
}

.hero-img {
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

.about-bg {
    /* height: 60vh; */
    min-height: 50vh;
    overflow-x: hidden;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), black), url(Assests/Background.jpg);
}