*::selection {
    color: #fff;
    background-color: #ff0066;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #ff0066;
}

.hero-img {
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-70px);
    }
}

.about-bg {
    /* height: 60vh; */
    min-height: 50vh;
    overflow-x: hidden;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.541), black), url(Assests/Background.jpg);
}



.card > img {
    object-fit: cover;
    height: 250px !important;
}


.modal-image {
    object-fit: cover;
    border-radius: 5px;
    height: 250px !important;
    width: 500px !important;
}


.bg-contact {
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.815));
}
